@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
* {
    margin: 0px;
    padding: 0px;
}
.floating-menu {
    text-align: center;
    background-color: black;
    z-index: 100;
    color: whitesmoke;
    position: fixed;
    width: 100%;
}
.floating-menu a {
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    font-size: 0.9em;
    margin: 0 0.5em;
}
li {
    display: inline;
}
.home > p {
    margin: 0 auto;
    font-family: 'Source Code Pro', sans-serif;
    width: 45em;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.home {
    padding-top: 50px;
    padding-bottom: 120px;
    background-image: url("../img/mountain3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto%;
    border-bottom: 1px solid black;
    text-align: center;
}
.aboutme {
    padding-top: 50px;
    background-image: url("../img/mountain1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 669px;
    border-bottom: 1px solid black;
}
.experience {
    padding-top: 50px;
    background-image: url("../img/mountain4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 669px;
    border-bottom: 1px solid black;
}
.contact {
    padding-top: 50px;
    background-image: url("../img/mountain5.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.home > div > img {
    padding: 20px;
    align-content: center;
    display: inline-block;
}
.aboutcontainer {
    width: 480px;
    margin: 0 auto;
}
.aboutcontainer > img {
    border-radius: 170px;
    float: right;
}
.aboutmeinfo {
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: 'Source Code Pro', sans-serif;
    text-align: center;
    width: 45em;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.aboutmetext p {
    font-size: 22px;
}
.aboutmetext {
    float: left;
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
h1 {
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.experiencecontainer {
    margin: 0 auto;
    width:1330px;
}
body > a:nth-child(4) > section > h1
{
    text-align:center;
}
.experience h1 {
    text-align:left;
}
.employement {
    margin-left: 30px;
    float: left;
    width: 300px;
}
.employement > h3 {
    font-family: 'Abel', sans-serif;
}
.employement > h4 {
    font-family: 'Source Code Pro', sans-serif;
    color: rgba(1, 8, 12, 0.56);
}
.employement > p{
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.graphic {
     padding-left:20px;
     width: 300px;
     display:inline-block;
     vertical-align: top;
 }
.webdev {
    padding-left:20px;
    width: 300px;
    display:inline-block;
    vertical-align: top;
}
.softwaredev {
    padding-left:20px;
    width: 300px;
    display:inline-block;
    vertical-align: auto;lign: top;
}
.knowledge {
    margin:0 auto;
    width:1000px;
    float:right;
}
.contactcontainer{
    margin:0 auto;
    width:600px;
}
.contactinfo{
    width:400px;
    float:left;
}
.mail {
    float:right;
    width:200px;
}
.mail input {
    max-width: 350px;
    height: 1.66em;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Source Code Pro', sans-serif;
}
.mail textarea {
    max-width: 350px;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Source Code Pro', sans-serif;
}
.contact p {
    text-align:center;
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    padding-bottom:20px;
}
.contactinfo p{
    text-align:left;
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.contactinfo h2 {
     font-family: 'Abel', sans-serif;
     text-align: left;
 }
.contactinfo h3 {
    font-family: 'Abel', sans-serif;
    text-align: left;
}
.contactinfo hr {
    border-color:black;
    width:300px;
}
.contactinfo img {
    display:inline-block;
    height: 64px;
    width: 64px;
    padding-top:7px;
    padding-left:7px;
}
.mail p {
    text-align:left;
    padding-bottom:0px;
    font-family: 'Source Code Pro', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}